{% extends "layout/reference.twig" %}

{% block title %}{{ data.vendor }} / {{ data.package }}{% endblock %}

{% block content %}
    <h1>Classes of {{ data.vendor }} / {{ data.package }}</h1>

    {% include "helpers/version-switch.twig" with {'version': data.version, 'versions': data.versions} only %}

    <ul>
        <li><a href="/{{ data.vendor }}/{{ data.package }}/{{ data.version }}/classes">Classes</a></li>
        <li><a href="/{{ data.vendor }}/{{ data.package }}/{{ data.version }}/functions">Functions</a></li>
    </ul>
{% endblock %}